# Dependencies
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Build tools and cache
.vercel
.cache
dist/
build/
.vscode/

# Project specifics
product-data-tmp.txt
update-script.js
